
 .square {

    height: 100px;

    width: 100px;

    background-color: #4b495f;

    border-radius: 5px;

    cursor: pointer;

 }

 .not-allowed {

   cursor: not-allowed !important;

 }

 .circle-won {

   background-color: #DD7F9F;

 }

 .cross-won {

   background-color: rgb( 63, 167, 240 );

 }